.sobre-nosotros{
    @include tablet{
        @include grid(2,3rem);
        align-items: center;
    }    
}

.texto-nosotros blockquote{
        margin: 3rem 0 0 0;
        font-size: 3rem;
        padding-left: 1rem 0 3rem 0;
        font-weight: $black;
}